
html {
    width: auto;
    /* display: flex; */
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
}


.active .control-panel-buttons {
    opacity: 0.5;
}


.test {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
}

h1 {
    font-size: calc(30px - 2vw);
}

p {
    margin: 0px;
    font-size: 30px;
    display: inline;
}

.subheading {
    font-size: large;
    margin-bottom: 1rem;
    text-align: center;

    position: absolute;
    top: 10vh;
    right: 2vw;
}


.control-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3vw;
    gap: 2rem;
    transition: 0.5s opacity ease;
}


.control-panel-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}


.control-panel-buttons button:hover {
    background-color: rgba(255, 165, 180, 0.3); 
    font-weight: 600;
}

.control-panel a {
    margin-top: 1rem;
    text-align: center;
}

.control-panel a:hover {
    font-weight: 600;
}

.grid tbody {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid {
    align-self: center;
}


@media only screen and (min-width: 600px) {
    .test {
        flex-direction: row;
    } 
    
    .app {
        justify-content: space-between;
    }
}

/* Canvas version */

#myCanvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: -1;
    
    position: absolute;

    filter: drop-shadow(7px -4px 2px darkgreen);
    top: 10vh;
    height: 80vh;
    max-width: 100vw;
    align-self: center;
}

.select-colour.ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.select-colour p {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.select-colour>li img {
    width: 2.3rem;
}

.select-colour>li img:hover {
    scale:calc(1.3);
    cursor: pointer;
}

.select-colour-button {
    border: 2px solid black;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

    border: none;
    background-color: transparent;
}

.play {
    content: url('./assets/play.svg');
    height: 30px;
    width: 30px;
    
}

.stop {
    content: url('./assets/pause.svg');
    height: 30px;
    width: 30px;
}

.next {
  content: url(assets/debug-step-over.svg);
  height: 30px;
  width: 30px;
}

.reset {
    content: url(assets/reset.svg);
    height: 30px;
    width: 30px;
}

.inner-buttons {
    border: 2px solid black;
    width: fit-content;

    background-color: #ffffff8a;
    /* position: absolute;
    left: 1rem;
    top: 20vh; */
}

.control-panel {
    position: absolute;
    top: 20vh;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

footer {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    height: 2vh;
    margin: 0;
    padding: 0;
}

input[type="range"] {
    transform: rotate(270deg);
    position: absolute;
    left: -3rem;
    bottom: -13vh;
}

input[type="range" i]::-webkit-slider-runnable-track {
    /* -webkit-appearance: none; */
    appearance: none;
    /* width: 2rem;
    height: 2rem; */
    /* background-color: #fff; */
    -webkit-user-modify: read-write !important;
    cursor: pointer;
    border-radius: 50%;
}

label {
    content: url(./assets/speed.svg);
    margin-top: 2rem;
}