
html {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}


.test {
  height: 70%;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

p {
    margin: 0px;
    font-size: 30px;
    display: inline;
}

.subheading {
    font-size: large;
    margin-bottom: 1rem;
    text-align: center;
}


.green {
    /* width: 1em;
    height: 1em; */
    background-color: rgb(58, 58, 208);
    color: transparent;
    font-size: auto;
    border: none;
    
}

.red {
    background-color: pink;
    color: transparent;
    font-size: auto;
    border: none;
    height: auto;
}

.tr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border:0%;
    gap: 0;
    width: fit-content;
}

.td {
    display: flex;
    align-items: stretch;
    padding: 0;
    margin: 0;
    border:0%;
    width: 15px;
    height: 15px;
}

.td button {
    width: auto;
    height: auto;
}


button {
    background-color: pink;
    color:black;
    font-size:larger;
    position: center;
}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.control-panel h1 {
    border-bottom: solid black 2px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.control-panel-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.control-panel-buttons button {
    border: none;
    width: 90%;
    align-self: center;
    border-radius: 3em;
}

.control-panel-buttons button:hover {
    background-color: rgb(255, 165, 180);
    font-weight: 600;
}

.control-panel a {
    margin-top: 1rem;
    text-align: center;
}

.control-panel a:hover {
    font-weight: 600;
}

.grid tbody {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid {
    align-self: center;
}


@media only screen and (min-width: 600px) {
    .test {
        flex-direction: row;
        margin: 1rem;
    } 
    
    .app {
        justify-content: space-between;
    }
}







/* Canvas version */

#myCanvas {
    margin: 1rem;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    box-shadow: inset 1rem rgba(0, 0, 0, 0.188);
}