
body {
    height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.test {
    display: flex;
    margin: 5%;
    gap: 6%;
}

.grid {
    grid-column-start: 2;
}

* {
    font-family:'Times New Roman', Times, serif;

}

p {
    margin: 0px;
    font-size: 30px;
    display: inline;
}

.subheading {
    font-size: small;
}

.green {
    background-color: rgb(58, 58, 208);
    color: transparent;
    font-size:15px;
    
}

.red {
    background-color: pink;
    color: transparent;
    font-size: 14.9px;
}

.tr {
    display: flex;
    padding:0%;
    margin:0%;
    border:0%;
}

.td {
    padding:0%;
    margin:0%;
    border:0%;
}

button {
    background-color: pink;
    color:black;
    font-size:larger;
    position: center;
}


.control-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 50vh;
    justify-content: space-between;
    background-color: rgb(255, 225, 230);
    border: 0.1em black solid;
    padding: 1%;
}

.control-panel h1 {
    border-bottom: solid black 2px;
    padding-bottom: 5px;
}

.control-panel-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.control-panel-buttons button {
    border: none;
    width: 90%;
    align-self: center;
    border-radius: 3em;
}

.control-panel-buttons button:hover {
    background-color: rgb(255, 165, 180);
}

.grid tbody {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}



